@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
  /* margin: auto; */
  height: 70%;
  width: 60%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.content {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px){
  .wrapper {
    width: 100%;
  }
}

/* Dark mode styles */


.wrapper header {
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.dark-mode header .icons span {
  color: #ccc;
}

header .icons {
  display: flex;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}

.icons span:last-child {
  margin-right: -10px;
}

header .icons span:hover {
  background: #f2f2f2;
}

.dark-mode header .icons span:hover {
  background: #333;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

.dark-mode header .current-date {
  color: #ccc;
}

.calendar {
  padding: 20px;
}

.dark-mode .calendar {
  background: whitesmoke;
  color: #0b0202;
}

.calendar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days {
  margin-bottom: 20px;
}

.calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.dark-mode .calendar li {
  color: #ccc;
}

.calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive {
  color: #aaa;
}

.dark-mode .days li.inactive {
  color: #555;
}

.days li.active {
  color: #fff;
}

.dark-mode .days li.active {
  color: #fff;
}

.days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before {
  background: #9B59B6;
}

.dark-mode .days li.active::before {
  background: #9B59B6;
}

.days li:not(.active):hover::before {
  background: #f2f2f2;
}

.dark-mode .days li:not(.active):hover::before {
  background: #fff;
}
.dark-mode .wrapper{
  
    margin: auto;
    width: 450px;
    background: #555;
    border-radius: 10px;
    box-shadow: -3px 2px 13px 9px #ccc;

}