.logged{
    height: 600px;
    padding: 15rem;
    background-image: url('../img/back.jpg');
}
.Authenticate {
    height: 300px;
    text-align: center;

}
.logged p{
    text-align: center;
    text-decoration: underline;
    color: azure;
    font-size: large ;
}
.sign-up , .log-in{
    text-align: center;
}
