.logged{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('../img/back.jpg');
}

.logged p{
    text-align: center;
    text-decoration: underline;
    color: azure;
    font-size: large ;
}
.sign-up , .log-in{
    text-align: center;
}
