* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    gap: 20px;
    margin: 20px;
    height: auto;
}

@media (max-width: 350px){
    .card-container {
        height: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    .card {
        width: 280px;
        height: 300px;
    }
}

@media (min-width: 350px) and (max-width: 600px){
    .card-container {
        height: auto;
        grid-template-columns: repeat(2, 1fr);
    }
    .card {
        width: 280px;
        height: 300px;
    }
}
.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab; 
    user-select: none; 
    scroll-snap-align: start; 
    list-style: none; 
    background: #fff; 
    display: flex; 
    width: 90%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    position: relative;
    object-fit: cover;
}
.card-img-top {
    width: 100%;
    height: 200px;
  }
.dark-theme .chatbox .chat.incoming  {
        background-color: #555;
    }
.card-content {
    padding: 20px;
    text-align: center;
    color:black;
}

.card h3 {
    margin: 0;
    font-size: 20px;
} 
    .btn{
        color:black;
        padding: 10px;
    }
    .btn-primary{
        background: #5cbdb9;
        border-color: aquamarine;
    }
.card:hover, .card:focus {
    transform: translateY(-10px); 
}

.card h5 { 
    font-weight: 500; 
    font-size: 1rem; 
    margin: 30px 0 5px; 
    text-decoration: underline;
} 
.card h2:hover{
    transform: scale(1.1);
}
h3:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.theme-dark .btn-primary{
    background: #4caf50;
    color:#fff;
  }
  .theme-dark .btn-primary:hover{
    background: #ffc107;
    color:white;
  }
  .btn-primary:hover{
  background: #fbe3e8 ;
  color:black;

  }
  .theme-dark  #scrollToTopBtn{
      background-color:  #ffc107;
        }
  .theme-dark #scrollToTopBtn:hover{
      background-color: #4caf50 ;
  }
/* Dark Theme Styles */
.dark-theme {
    background-color: #222;
    color: #eee;
}

.dark-theme .card {
    background-color: #333;
    box-shadow: -1px 0px 5px 3px #ccccccdb;
}
/* .dark-theme .card h3,
.dark-theme .card h2 {
    color: #ffffff00;
} */

.dark-theme .search-bar input {
    background-color: #555;
    color: #eee;
}

.dark-theme .search-bar button {
    background-color: #666;
    color: #eee;
}

.dark-theme .navbar a {
    color: #eee;
}

.dark-theme .cta-button,
.dark-theme .Authenticate button {
    background-color: #555;
    color: #eee;
}

.dark-theme .footer {
    background-color: #222;
    color: #ddd;
}

.dark-theme .footer .icons a {
    color: #ddd;
}

.dark-theme .chatbot-toggler {
    background-color: #555;
    color: #eee;
}

.dark-theme .chatbot {
    background-color: #444;
    color: #eee;
}

.dark-theme .chatbox .chat.incoming {
    background-color: #555;
}
.theme-toggle {
    border-radius: 50%;
    color: black;
    background-color: yellow;
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-dark .card-container {
    background: rgba(33 33 33 /1);
}
