@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --tw-gradient-from: #4caf50;
  --tw-gradient-to: #ffc107 ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-from: #4caf50;
  --tw-gradient-to: #ffc107 ;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
body{
    background-image: url('../img/New\ Background.jpeg');
}
body.theme-dark{
    background-image: linear-gradient(to right ,var(--tw-gradient-stops)); 
}
.heading
    {
        font-size: 4rem;
        font-weight: 800;
        text-transform: capitalize;
}


.playlist .row{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
    padding:2rem;
    background-color: #e9e4e4;
}
.theme-dark .playlist .row{
 background-color: rgb(55 65 81/1);
 color:white;
}
.playlist .row .col{
    flex: 1 1 40rem;
}

.playlist .row .col .save-list button{
    font-size: 2rem;
    border-radius: .5rem;
    background-color: whitesmoke;
    padding: 1.2rem 2.5rem;
    cursor: pointer;
    margin-bottom: 2rem;
}
.playlist .row .col .save-list button i{
   color: black; 
   margin-right: 1rem;
}

.playlist .row .col .save-list button span{
    color: black;
}
.playlist .row .col .save-list button:hover{
   background-color: black;   
}
.playlist .row .col .save-list button:hover i{
    color:white;
}
.playlist .row .col .save-list button:hover span{
    color: white;
}

.playlist .row .col .thumb{
    position: relative;
    height: 30rem;
}

.playlist .row .col .thumb span{
    position: absolute;
    top: 1rem;left: 1rem;
    border-radius: .5rem;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    color: #fff;
    background-color:rgba(0,0,0,0.3);
}

.playlist .row .col .thumb img{
   width: 100%; 
   height: 100%;
   border-radius: .5rem;
   object-fit: cover;
}

.playlist .row .col .tutor{
   display: flex; 
   align-items: center;
   gap: 1.7rem;
}
.playlist .row .col .tutor img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.playlist .row .col .tutor h3{
    font-size: 2rem;
    color: black;
    margin-bottom: .2rem;
}
.playlist .row .col .tutor span{
    color:black;
    font-size: 1.5rem;
}

.playlist .row .col .details{
    padding-top: 1.5rem;
}
.playlist .row .col .details h3{
    font-size: 3rem;
    color: green;
}

.playlist .row .col .details p{
    padding: 1rem 0;
    line-height: 2;
    color: black;
    font-size: 1.7rem;
}
.theme-dark .playlist .row .col .details p{
    color:white;
}

.playlist .row .col .details .date{
    font-size: 1.7rem;
    padding-top: .5rem;
}
.playlist .row .col .details .date i{
    color: black;
    margin-right: 1rem;
}
.playlist .row .col .details .date span{
    color:black
}

.video-container .box-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}

x{
    position: relative;
    border-radius: .5rem;
    padding: 2rem;
    background-color: white;
}

.video-container .box-container .box img{
    height: 20rem;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.video-container .box-container .box i{
   position: absolute;
   top: 2rem; left: 2rem; right: 2rem;
   height: 20rem;
   background-color: rgba(0,0,0,0.3);
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 4rem;
   color: #fff;
   border-radius: 0.5rem;
   display: none;
}

.video-container .box-container .box:hover i{
   display: flex; 
}

.video-container .box-container .box h3{
    font-size: 2rem;
    color: #000;
    margin-top: 1rem;
}

.video-container .box-container .box:hover h3{
    color:black;
}

.watch-video .video-details{
    background-color: white;
    padding: 2rem;
}
.video-container .box-container .bo
.watch-video .video-details .video{
    width: 100%;
    border-radius: 0.5rem;
}
.watch-video .video-details .title{
    font-size: 2rem;
    color: black;
    padding: 1.5rem 0;
}

.watch-video .video-details .info{
   display: flex;
   gap: 2rem;
   padding-bottom: 1.5rem;
   border-bottom: #000;

}
.watch-video .video-details .info p{
    font-size: 1.6rem;
    font-weight: 600;
}

.watch-video .video-details .info p i{
   margin-right: 1rem;
   color: black;
}
.watch-video .video-details .info p  span{
    color: black;
}
.watch-video .video-details .tutor{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.watch-video .video-details .tutor img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.watch-video .video-details .tutor h3{
    font-size: 2rem;
    color: #000;
    margin-bottom: 0.2rem;
}

.watch-video .video-details .tutor span{
    color: black;
    font-size: 1.5rem;
}

.watch-video .video-details .flex{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}

.watch-video .video-details .flex a{
    margin-top: 0;
}

.watch-video .video-details .flex button{
    background-color:white;
    cursor: pointer;
    padding: 1rem 2.5rem;
    font-size: 2rem;
    border-radius: .5rem;
}

.watch-video .video-details .flex button{
    color: #000;
    margin-right: 1rem;
}

.watch-video .video-details .flex button span{
    color:black;
}

.watch-video .video-details .flex button:hover{
    background-color: black;
}

.watch-video .video-details .flex button:hover i{
    color: white;
}

.watch-video .video-details .flex button:hover span{
    color: white;
}

.watch-video .video-details .description{ 
   padding-top: 2rem;
}

.watch-video .video-details .description p{
    line-height: 1.5;
    font-size: 1.7rem;
   color: black;
   white-space: pre-line;
}

.theme-dark .playlist .row .col .tutor h3{
    color: white;
}
.theme-dark .playlist .row .col .details .date span {
    color:white;
}
.theme-dark .playlist .row .col .details .date i {
    color:white;
}
.theme-dark .playlist .row .col .save-list button{
    background: #ffc107;
}
.theme-dark .watch-video .video-details{
    background: rgb(55 65 81/1);
}

.theme-dark .watch-video .video-details .tutor h3 {
    color: white;
}
.theme-dark .watch-video .video-details .info p span{
    color:white;
}
.theme-dark .watch-video .video-details .info p {
    color:white;
}
.theme-dark .watch-video .video-details .info p i {
    color: #fff;
}
.theme-dark .watch-video .video-details .info p span {
    color: #fff;
}
.theme-dark .watch-video .video-details .description p{
    color: white;
}
.theme-dark .watch-video .video-details .flex button {
    background: #ffc107;
}