*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
   
}

#login-page{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('back.jpg') no-repeat center center fixed;   
    background-size: cover; 
    
}
.container{
    width:420px;
    background:transparent;
    border: 2px solid rgba(225,255,255,.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    
}
.heading h1 {
    font-size: 36px;
    text-align: center;

}
.heading p{
    text-align: center;
    margin-top: 15px;
}
form .inputbox{
    width: 100%;
    height: 50px;
    
    margin: 30px 0;
    
}
.inputbox input {
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
   
    
   
   
}

.inputbox{
    border-radius: 40px;
    border:2px solid #fff;
    
}
.inputbox input::placeholder{
  color:#fff;
}
.container label i{
    position: absolute; 
   
   transform: translateX(-200%); 
    padding-top:15px; 
   

}
 .container.inputbox {
    position: absolute; 
    top: 50%;
     right: 10px; 
     transform: translateY(-50%); 
     font-size: 16px; 
     color: #666;
     
    
}
.remember-forget{
    display:flex;
    justify-content: space-between;
    font-size:14.5px;
}
.remember-forget label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forget a{
    color:#fff;
    text-decoration: none;
    padding-bottom: 15px;
}
.remember-forget a:hover{
    text-decoration: underline;

}

.loginbtn{
    width:100%;
    height:45px;
    background-color: #fff;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow:0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;
    


}
.registration-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.registration-link p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;

}
.registration-link p a:hover{
    text-decoration: underline;
}